<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Viewer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>Cars Viewer</header>

<!----------------------------------------------------------------------------------------------------------->
<div id="main_container_filtered">
<!----------------------------------------------------------------------------------------------------------->
       
    <!-- Filter Form -->
    <div class="filter-form">

        <div>
            <p class="filter-cars">Filter Cars</p>
        </div>
        <br>

        <form action="/filter" method="get">
            <div class="filter">
                <label for="year">Year:</label>
                <select id="year" name="year">
                    <option value="">All</option>
                    {{range .Years}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div class="filter">
                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option value="">All</option>
                    {{range .Categories}}
                    <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <button type="submit" target="_blank">Apply Filters</button>
            <br><br>
            <div >
                <div class="car-footer">
                    <a href="/" class="links">Reset</a>
                </div>
            </div><br>     
        </form>
    </div><!-- Filter Form END -->



    <!-- Filtered Cars List -->
    <div class="car-gallery">

          {{range .CarModels}}

           <div class="car">

                    <div class="car-name">{{.Name}}</div>

                    <img class="preview-image" src="http://localhost:8080/img/{{.Image}}" alt="{{.Name}}">
                    <br><br>

                            <table class="car-details">
                                <tr>
                                    <td>Manufacturer</td>
                                    <td>{{.Name}}</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>{{.Year}}</td>
                                </tr>
                                <tr>
                                    <td>Engine</td>
                                    <td>{{.Specifications.Engine}}</td>
                                </tr>
                                <tr>
                                     <td>Horsepower</td>
                                     <td>{{.Specifications.Horsepower}}</td>
                                </tr>
                                <tr>
                                    <td>Transmission</td>
                                    <td>{{.Specifications.Transmission}}</td>
                                </tr>
                                <tr>
                                    <td>Drivetrain</td>
                                    <td>{{.Specifications.Drivetrain}}</td>
                                </tr>
                            </table><!-- car-details END -->

                    <br><br>                  
                    <a href="/car-details?id={{.ID}}" target="_blank" class="links">Details</a>
                    

        </div><!--car END-->
        {{end}}
    <br><br>    
    </div><!-- car-gallery END-->

<!----------------------------------------------------------------------------------------------------------->
</div><!-- main_container_filtered END -->
<!----------------------------------------------------------------------------------------------------------->
<br><br>

<footer>
    <p>@Laura & Jonathan 2024 Kood/Sisu</p>
</footer>
</body>
</html>