<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Viewer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>Cars Viewer</header>

<!-----------------------------------------------------------------------------------------------------------> 
<div id="main_container">
<!----------------------------------------------------------------------------------------------------------->
    

    
    <!-- Filter Form -->
    <div class="filter-form">

        <div class="sidebar">
            <div class="car-footer">
                <a href="/" class="details-link">Home</a>
            </div>
        </div><br>


        <div>
            <p class="filter-cars">Filter Cars</p>
        </div>
    <br>

        <form action="/filter" method="get">
            <div class="filter">
                <label for="year">Year:</label>
                <select id="year" name="year">
                    <option value="">All</option>
                    {{range .CarModels}}
                    <option value="{{.Year}}">{{.Year}}</option>
                    {{end}}
                </select>
            </div>
            <div class="filter">
                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option value="">All</option>
                    {{range .Categories}}
                    <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <button type="submit" value="Submit" href="/filter" target="_blank">Apply Filters</button>
        </form>
    </div><!-- Filter Form END -->

    <!-- Car Gallery -->
    <div class="car-gallery">
        {{range .CarModels}}
        <div class="car">
            <div class="car-name">{{.Name}}</div>
            <img src="http://localhost:8080/img/{{.Image}}" alt="{{.Name}}">
            <div class="car-footer">
                <a href="/car-details?id={{.ID}}" target="_blank" class="details-link">Details</a>
            </div>
        </div><!-- car END -->
        {{end}}
    </div><!-- car-gallery END -->



<!----------------------------------------------------------------------------------------------------------->
</div><!-- main_container END -->
<!----------------------------------------------------------------------------------------------------------->
<br><br><br><br>   

<footer>
    <p>@Laura & Jonathan 2024 Kood/Sisu</p>
</footer>
</body>
</html>
