/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/*---------------------------------------------------------*/
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*---------------------------------------------------------*/
#main_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

#main_container_details {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjust as needed to center vertically */
}

/*---------------------------------------------------------*/
.filter-form {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 180px; /* Smaller width */
    position: fixed;
    top: 100px; /* Adjust this value to increase space from the top */
    left: 100px; /* Adjust as necessary */
}

.filter-form h2 {
    margin-top: 0;
    font-size: 16px; /* Smaller font size */
    color: #333;
}

.filter-form .filter {
    margin-bottom: 10px;
}

.filter-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px; /* Smaller font size */
    font-weight: bold;
}

.filter-form select {
    width: 100%;
    padding: 5px; /* Smaller padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px; /* Smaller font size */
}

.filter-form button {
    padding: 5px 10px; /* Smaller padding */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Smaller font size */
}

.filter-form button:hover {
    background-color: #555;
}

/*---------------------------------------------------------*/
.car-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    margin-left: 220px; /* Adjust to account for the fixed filter form */
}

.car {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Ensures footer is at the bottom */
    justify-content: space-between; /* Ensures footer is at the bottom */
}

.cardetail {
    width: 800px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Ensures footer is at the bottom */
    justify-content: space-between; /* Ensures footer is at the bottom */
}

.car-name {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.car img {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.car-footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.details-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.filter-cars {
    font-weight: bold;
    text-align: center;
}

.info-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.info-button:hover {
    background-color: #555;
}

.car-info {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.car-info td {
    padding: 5px 0;
}

.car-info td:first-child {
    font-weight: bold;
    color: #333;
}

/*---------------------------------------------------------*/
@media (max-width: 768px) {
    .car {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .car {
        width: calc(100% - 20px);
    }
}
